@import "../../style/colors.scss";

.br-navbar {

    .container {
        padding : 0 !important
    }
    .navbar{
        background-color: transparent;
        border-width: 0;
        margin-bottom: 0 !important;
        -webkit-transition: all .4s;
        transition: all .4s;
        
        &.navWhite{
            background-color: white;
            -webkit-box-shadow: 0px 43px 51px -12px rgba(0,0,0,0.24);
            -moz-box-shadow: 0px 43px 51px -12px rgba(0,0,0,0.24);
            box-shadow: 0px 43px 51px -12px rgba(0,0,0,0.24);
        }

        .navbar-toggler{
            position: relative;
            float: right;
            padding: 9px 10px;
            margin-top: 8px;
            margin-right: 15px;
            margin-bottom: 8px;
            background-color: transparent;
            background-image: none;
            border-color: transparent !important;
            transition: all 0.3s;
        
            &:focus{
                outline: transparent !important;
                box-shadow: none;
            }
        
            &.collapsed{
                .icon-bar{
                    &:nth-child(2){
                        transform: rotate(0deg);
                    }
                    &:nth-child(3){
                        transform: translateX(0px);
                    }
                    &:nth-child(4){
                        transform: rotate(0deg);
                    }
                }
            }
            .icon-bar{
                background-color: #262939 !important;
                height: 3px !important;
                border-radius: 100px;
                transition: all 0.3s;
                display: block;
                width: 22px;
                margin : 4px 0;
        
                &:nth-child(2){
                    transform: rotate(45deg) translate(5px,5px);
                }
                &:nth-child(3){
                    width: 15px;
                    transform: translateX(100px);
                }
                &:nth-child(4){
                    transform: rotate(-45deg) translate(5px,-5px);
                }
            } 
        }

        .navbar-collapse{
            &.in,&.collapsing,&.show{
                position: relative;
                border-color: transparent !important;
                
            }
        }

        .navbar-nav {
            >li {
                >a {
                    font-family: 'Montserrat', sans-serif;;
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    padding-left: 20px;
                    padding-right: 20px;
                    color: $color-black;
                    -webkit-transition: color 0.3s, background-color 0.3s, padding 0.3s;
                    transition: color 0.3s, background-color 0.3s, padding 0.3s;
                    &:hover {
                        color: $color-primary;
                        outline-width: 0;
                    }
                    &:focus {
                        color: $color-primary;
                        outline-width: 0;
                    }
                    &:active {
                        color: $color-primary;
                        outline-width: 0;
                    }
                }
            }
            .nav-link.active {
                    color: $color-primary;

                
                    &:hover {
                        color: $color-primary;
                        
                    }
                    &:focus {
                        color: $color-primary;

                    }
                    &:active {
                        color: $color-primary;
                    }
                
            }
        }

        .navbar-brand {
            height: auto;
            margin-bottom: 8px;
            margin-top: 8px;
            margin-left: 15px;
            -webkit-transition: padding 0.3s;
            transition: padding 0.3s;
            img {
                height: 48px;
                -webkit-transition: height 0.3s;
                transition: height 0.3s;
            }
        }
    }

    &-mini {
        .navbar-toggler{
            margin-top:0px;
            margin-bottom: 0px;
        }
        .navbar{
            -webkit-box-shadow: 0px 21px 47px -21px rgba(0,0,0,0.41);
            -moz-box-shadow: 0px 21px 47px -21px rgba(0,0,0,0.41);
            box-shadow: 0px 21px 47px -21px rgba(0,0,0,0.41);
            padding-top : 12px;
            padding-bottom: 12px;
            background-color: #fff;
            .navbar-brand {
                margin: 0px;
                margin-left : 15px;

                img {
                    height: 30px;
                }
            }
            .navbar-toggler{
                margin-top :0;
                margin-bottom : 0;
            }
        }
    }

    
}



@media (min-width:800px){
    .navbar-brand{
        margin: 0px !important;
    }
    .br-navbar-mini {
		.navbar {
			.navbar-nav {
				>li {
					>a {
						padding-top: 8px;
						padding-bottom: 8px;
					}
				}
			}
		}
	}
}