.contact-page{
	padding-top : 84px;
	padding-bottom: 100px;

	.contact-image{
		padding-right: 0px !important;
		&-desktop{
			display: none;	
		}
		&-mobile{
			display: block;
		}
	}
	.contact-title{
		font-size: 20px;
		font-weight: 800;
		color: #847DE3; 
		margin-bottom: 0em;
	}
	.contact-tagline{
		font-size: 40px;
		font-weight: 800;
		margin-top: 0.2em;
		margin-bottom: 25px;
	}
	.contact-text{
		font-size : 22px;
		line-height: 35px;
		color : #262939;

	}

	.form-side{
		padding: 0 2em;
    }

    .form-group{
        margin-bottom: 1.5em;

        label{
            padding-left : 15px;
            font-size: 1em;
            font-weight: 600;
        }

        .form-control{
            border : none;
            box-shadow: 0 10px 10px 0 rgba(0,0,0,0.05);
            border-radius: 15px;
            padding : 10px 15px;
            font-size: 1em;
            font-weight: 600;
            
            &:hover,&:active{
                box-shadow: inset 0 0px 10px 0 rgba(0,0,0,0.05);
            }
        }
    }

	.btn-kirim{
        margin-top : 20px;
		background: #262939;
        color: #ffffff;
        border-radius: 15px;
		font-weight: 700;
		letter-spacing: 2px;
		float: right;
	}
}
