@import './style/colors.scss';

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  }


body {
	font-family: 'Montserrat', sans-serif;
	color: #262939;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	word-spacing: 2px;
	-webkit-font-smoothing: antialiased;
}

.card {
	/* Add shadows to create the "card" effect */
	border-radius: 10px;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.15);
	transition: 0.3s;
	border-color: transparent !important;
	border-radius: 20px;
	background: #fff;
	&:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
  
	.container{
	  padding: 0px 20px 20px 20px;
	}
}

.img-responsive{
	max-width: 100%;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1); 
	border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: $color-primary; 
	border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	opacity: 0.5;
  }


// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { 
// 	.container,.container-fluid{
// 		width: 750px;
// 	}
// }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	.container{
		width: 970px;
	}
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.container{
		width: 1170px;
	}
 }